*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: yellow;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    /*background-color: grey;*/
}

.row {
    margin: 0 -15px;
}

.clear-fix {
    clear: both;
    overflow: hidden;
    ;
}

.col-1,
.col-2 {
    padding: 0 15px;
    float: left;
}

.col-1 {
    width: 20%;
    /*background-color: skyblue;*/
}

.col-1-inner-row {
    margin: 0 -15px;
}

.col-1 p {
    width: 100%;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 13px;
    font-size: 1.2em;
}

.col-2 {
    width: 80%;
}

.navigation {
    margin: 0 -15px;
}

.menu {
    margin: 0;
    padding: 0;
    float: right;
}

.menu li {
    list-style-type: none;
    display: inline-block;
    float: left;
}

.menu li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    border-left: 1px solid yellow;
    font-size: 1.45em;
    border: 1px solid yellow;
    /*border-bottom: none;*/
}

.menu li a:hover {
    background-color: white;
    color: black;
}

.menu li:first-child a {
    /*border: none;*/
    border-left: 2px solid yellow;
}

.menu li:last-child a {
    border-right: 2px solid yellow;
}
